* 
{box-sizing: border-box;}

body 
	{background-color: rgba(5,107,171,.1); font-family: "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";	height: auto;}

#wrapper
	{margin: 0 auto; width: 85%; background-color: white; min-width: 900px; max-width: 1280px;}	

header
	{padding: 10px; text-align: center; color: white; background-color: #006AA8; font-size: 2rem; width: auto; height: auto; border-bottom: white solid 5px; overflow: hidden;}
	
nav
	{background-color: white; padding-top: 0px; padding-right: 20px; font-weight: bold; font-size: 90%; float: left;
	width: 120px; height: auto; text-align: left;}

nav a 
	{text-decoration: none; color: rgb(51,51,51); display: block;}

nav ul 
	{list-style-type: none; padding-left: 20px; white-space: pre-line;}

	nav a:hover {color: #006AA8; font-weight: bolder;}
	nav a:link {color: rgb(51,51,51);}
	nav a.active  {background-color: #006AAB; border-top-right-radius: 20px; color: white; padding: 10px; width: 100%;}

#main
	{background-color: white; padding: 20px; display: block; overflow: auto; text-align: left; padding-bottom: 2em;}	

.copy {color: black; margin:0; padding: 0 0 20px 0;}

#img_right {float: right; margin:0 1em; padding: 0 1em; }

	
#footer {
  	border-top: 10px #006AA8 solid;
	padding: 10px 0;
	font-size: .8em;
	font-style: italic;
	color: rgb(51,51,51);
	text-align: center;
	}

div, p 
	{padding:1em;
	}
	



#mobile {display: none;}

#desktop {display: inline;}





@media only screen and (max-width: 1024px)
{

	#wrapper
		{width: auto;
		min-width: 0;
		margin: 0;
		padding: 0;
		box-shadow: none;}
		
	h1
		{margin: 0;}
		
	nav
		{float: none;
		width: auto;
		padding-top: 0;
		margin: 0;
		line-height: 15px;
		font-size: 90%;
		text-align: center;
		}	
	
	nav li
		{display: inline-flex;}	
		
	nav a
		{padding: 1em;
		width: 8em;
		font-weight: bold;
		text-transform: uppercase;
		border-style: none;}
		
	nav ul 
		{padding: 0; margin: 0; white-space: normal;}

	
#main
		{padding: 1em; margin: 0; font-size: 90%;}	
		
		
		
}			

/*small screens*/
@media only all and (max-width: 768px)
{
	body 
		{
		margin: 1em;}
	
	header
		{background-size: 100%;
		height: auto;}
	
	h1
		{height: 100%;
		font-size: 1.5em;
		padding-left: 0.3em;}
		
	
	nav
		{margin: 0;}
		
	nav a
		{display: block;
		padding: 0.2em;
		font-size: 90%;
		width: auto;
		border-bottom: 1px;
		border-color: #99cc33;}

	nav ul
		{margin: 0;
		padding:0;}	

	nav li
		{display: block;
		margin: 0;
		padding: 0;}
		

	#mobile
		{display: inline;}
		
	#desktop
		{display: none;}	
		
	footer
		{padding: 15px;
		font-size: .5em}	
			
}			

